{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    <h2 class="card-title text-center mb-4">Cadastro</h2>

    {% if mensagem %}
    <div class="alert alert-danger" role="alert">
        {{ mensagem }}
    </div>
    {% endif %}

    <form method="post" action="/cadastro">
        <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
    <hr>
    <div class="text-center">
        <a href="/">Voltar para login</a>
    </div>
{% endblock %}