<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <img src="static/TJES-logo.png" alt="Logo" style="width:100px;height:100px;"><br>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <h2>Login</h2>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Usuário" required><br>
        <input type="password" name="password" placeholder="Senha" required><br>
        <button type="submit">Entrar</button>
    </form>
    <p style="color:red;">{{ mensagem }}</p>
    <a href="/cadastro">Cadastrar novo usuário</a>
</body>
</html>